.container {
    margin: 2rem;
}

.controls-row {
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-bottom: 1rem;
}

.load-more-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.logo-img {
    width: 15%;
}

.ant-btn.ant-btn-primary {
    border-color: #1f68af;
    background: #1f68af;
}

.ant-btn.ant-btn-primary:hover,
.ant-btn.ant-btn-primary:focus,
.ant-btn.ant-btn-primary:active {
    border-color: #ffc72b;
    background: #ffc72b;
    color: #1f68af;
}

.ant-btn.ant-btn-primary[disabled],
.ant-btn.ant-btn-primary[disabled]:hover {
    border-color: #1f68af;
    background: #1f68af;
    opacity: .7;
    color: white;
}

.subtitle {
    font-style: italic;
    margin-top: .5rem;
}
